.container{
    border: 3px solid black;
    padding: 1.5rem
}
.row{
    padding: 1.5rem;
}
.col{
    border: 3px solid black;
    padding: 1.5rem;
    padding: 1.5rem;
}
.header{
    text-align: center;
}